<!-- The Modal -->
<div id="add-availability" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="add-availability-form" method="post" action="">
        <h4>Add new availability:</h4>
        <div class="div-block-4">
            <label class="form-label">Start</label>
            <label class="form-label">End</label>
        </div>
        <div class="div-block-4">
        <input type="datetime-local" class="text-field w-input" maxlength="256" name="availStartTime" data-name="availStartTime" placeholder="Example Text" id="avail-starttime" required=""> 
        <input type="datetime-local" class="text-field-2 w-input" maxlength="256" name="availEndTime" data-name="availEndTime" placeholder="Example Text" id="avail-endtime" required=""></div>
        <input type="submit" value="Add" class="submit-button w-button">

    </form>
  </div>
</div>