  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container w-container">
      <a href="/" class="w-nav-brand"><img src="images/Parkdo_icon.png" loading="lazy" width="150" sizes="150px" srcset="images/Parkdo_icon-p-500.png 500w, images/Parkdo_icon-p-800.png 800w, images/Parkdo_icon-p-1080.png 1080w, images/Parkdo_icon.png 1500w" alt="" class="image"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="parkingslot" aria-current="page" class="nav-link w-nav-link w--current">Find a spot</a>
        <a href="renter-registration" class="nav-link w-nav-link">Become a renter</a>
        <a href="#" class="nav-link w-nav-link">Contact us</a>
        <a href="account" class="nav-link w-nav-link">My account</a>
        <a href="/logout" class="nav-link w-nav-link">Log out</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>