 {{> navbar-user }}
 
  <div class="account wf-section">
    <h3 class="heading">Account</h3>
    <img src="images/default-user-image.png" loading="lazy" width="100" height="100" alt="" class="account-image">
    <div class="profile">
      <div class="w-layout-grid profile-info">
        <div>Username</div>
        <div>Username</div>
        <div>First name</div>
        <div>First Name</div>
        <div>Last name</div>
        <div>Last Name</div>
        <div>Email</div>
        <div>Email</div>
        <div>Phone</div>
        <div>Phone</div>
        <div>Verified renter</div>
        <div>No (Become a renter now)</div>
      </div>
      <a href="/history" class="submit-button w-button">View my booking history</a>
    </div>
  </div>
  <div class="my-parking-slot wf-section">
    <h3 class="heading">My Parking Slot</h3>
    <div class="text-block-12">You haven&#x27;t registered any parking slots yet.</div>
    <div class="div-block-10">
      <div class="div-block-13"><img src="images/img-placeholder.png" loading="lazy" width="140" height="140" alt="" class="image-3">
      </div>
      <div class="div-block-11">
        <h5 class="heading-4 parking-slot-building">Carpark Building</h5>
        <div class="parking-slot-area">Carpark area, Carpark district</div>
        <div class="vehicle-size">Vehicle Size</div>
        <div class="description">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>
      <div class="div-block-12">
        <a href="/manage" class="submit-button edit w-button">Edit</a>
      </div>
    </div>
  </div>