    <div class="container w-container">
      <a href="#" class="w-nav-brand"><img src="images/Parkdo_icon.png" loading="lazy" width="150" sizes="150px" srcset="images/Parkdo_icon.png 500w, images/Parkdo_icon.png 800w, images/Parkdo_icon.png 1080w, images/Parkdo_icon.png 1500w" alt="" class="image"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#" class="w-nav-link">Contact us</a>
        <a href="#" class="w-nav-link">Sign up</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="login wf-section">
    <h3 class="heading">Carpark Admin Panel</h3>
    <div class="form-block w-form">
      <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-2"><label for="name" class="form-label">Username</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"><label for="email" class="field-label-3">Password</label><input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required=""><input type="submit" value="Login" data-wait="Please wait..." class="login-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>