 {{> navbar-user }}

<div class="account wf-section">
    <img src="images/default-user-image.png" loading="lazy" width="100" height="100" alt="" class="account-image">
    <div class="profile">
        <div style="text-align:center">Username</div>
    </div>
</div>

 
  <div class="section-2 wf-section">
    <div class="history-block">
      <div class="history-box w-row">
        <div class="box-label w-col w-col-3">
          <div class="booking-type-label lease">Lease</div>
        </div>
        <div class="box-info w-col w-col-6">
          <div class="w-layout-grid box lease">
            <div id="w-node-_80cd77a3-814e-c532-02e5-8097c3bc33b8-5854d6b5" class="date-box">25 Dec 2021</div>
            <div id="w-node-_3765c99e-745b-1dc5-1704-d3cfcfbfd091-5854d6b5" class="box-item">Gee Tuck Building, Sheung Wan</div>
            <div class="box-item in">Arrival</div>
            <div class="box-item out">Leave</div>
            <div class="box-item-text">Booking</div>
            <div class="box-item-text">10:30 am</div>
            <div class="box-item-text">2:30pm</div>
            <div class="box-item-text">Actual</div>
            <div class="box-item-text">10:43 am</div>
            <div class="box-item-text">2:12pm</div>
          </div>
        </div>
        <div class="booking-info w-col w-col-3">
          <div class="div-block-15">
            <div class="pricing">+ $150</div>
            <div class="text-block-18">Transaction ID</div>
            <div class="box-status complete">COMPLETE</div>
          </div>
        </div>
      </div>
    </div>
    <div class="history-block">
      <div class="history-box w-row">
        <div class="box-label w-col w-col-3">
          <div class="booking-type-label rent">Rent</div>
        </div>
        <div class="box-info w-col w-col-6">
          <div class="w-layout-grid box lease">
            <div id="w-node-_0d8ce5b9-4e8c-e8ac-7835-80c35d8ce4bb-5854d6b5" class="date-box">25 Dec 2021</div>
            <div id="w-node-_0d8ce5b9-4e8c-e8ac-7835-80c35d8ce4bd-5854d6b5" class="box-item">Gee Tuck Building, Sheung Wan</div>
            <div class="box-item in">Arrival</div>
            <div class="box-item out">Leave</div>
            <div class="box-item-text">Booking</div>
            <div class="box-item-text">10:30 am</div>
            <div class="box-item-text">2:30pm</div>
            <div class="box-item-text">Actual</div>
            <div class="box-item-text">10:43 am</div>
            <div class="box-item-text">2:12pm</div>
          </div>
        </div>
        <div class="booking-info w-col w-col-3">
          <div class="div-block-15">
            <div class="pricing">- $80</div>
            <div class="text-block-18">Transaction ID</div>
            <div class="box-status cancel">CANCEL</div>
          </div>
        </div>
      </div>
    </div>
  </div>