<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container w-container">
      <a href="/" class="w-nav-brand"><img src="images/Parkdo_icon.png" loading="lazy" width="150" sizes="150px" srcset="images/Parkdo_icon.png 500w, images/Parkdo_icon.png 800w, images/Parkdo_icon.png 1080w, images/Parkdo_icon.png 1500w" alt="" class="image"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#" class="w-nav-link">Become a renter</a>
        <a href="#" class="w-nav-link">Contact us</a>
        <a href="login.html" class="w-nav-link">Log in</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="wf-section">
    <div class="div-block">
      <div class="text-block-2">Find your parking slot NOW</div>
      <div class="text-block-6">or schedule for later?</div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form">
          <div class="div-block-4">
            <input type="datetime-local" class="text-field w-input" maxlength="256" name="Start-time-2" data-name="Start Time 2" placeholder="Example Text" id="Start-time-2" required="">
            <input type="datetime-local" class="text-field-2 w-input" maxlength="256" name="Start-time" data-name="Start time" placeholder="Example Text" id="Start-time" required=""></div><select id="field" name="field" data-name="Field" class="select-field w-select">
            <option value="">Pick a location</option>
            <option value="First">First choice</option>
            <option value="Second">Second choice</option>
            <option value="Third">Third choice</option>
          </select><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
        </form>
        <div class="w-form-done"></div>
        <div class="w-form-fail"></div>
      </div>
    </div>
  </div>
  <div class="about-us wf-section">
    <h1 class="heading-2">What is ParkDo?</h1>
    <h3 class="heading-3">A community built on sharing</h3>
    <div class="text-block-8">Would you like someone to share your parking rental? <br>Parkdo helps make sharing easy, enjoyable, and safe. You can list your parking slot on ParkDo. Or you can look for a parking slot when you can&#x27;t find one near you with the easy access to all car parks.</div>
    <img src="images/info_easy.jpg" loading="lazy" sizes="60vw" alt="">
    <h3 class="heading-3">Anytime, anywhere</h3>
    <div class="text-block-8">You can book your parking slot anywhere in Hong Kong 24/7. With a huge selection of parking slots and carpark, as well as easy payment options, Parkdo makes your every journey easy and affordable.</div>
    <h3 class="heading-3">Trust Service</h3>
    <div class="text-block-8">We verified every parking slot with the registered car park. We also manage a trusted platform to collect and transfer payments.</div>
  </div>