{{> navbar-guest }}

  <div class="carpark-reg wf-section">
    <h3 class="heading">Login</h3>
    <div class="form-block w-form">
      <form action="/login" id="email-form" name="email-form" data-name="Email Form" method="post" class="form-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="w-input" maxlength="256" name="username" data-name="Name" placeholder="" id="username">
        <label for="password" class="field-label-3">Password</label>
        <input type="password" class="w-input" maxlength="256" name="password" data-name="Email" placeholder="" id="password" required="">
        <input type="submit" value="Login" data-wait="Please wait..." class="login-button w-button"></form>
    </div>
       <a href="/auth/facebookm" class="social-meida-login-button">
        <div class="login-with-facebook "><img src="images/facebook.jpeg" loading="lazy" width="30" height="30" alt="" class="facebook-icon">
      <div class="button-text">Login with Facebook</div>
    </div></a>
      <a href="/auth/google" class="social-meida-login-button">
    <div class="login-with-google"><img src="images/google.jpeg" loading="lazy" width="30" height="30" alt="" class="google-icon">
      <div class="button-text">Login with Google</div>
    </div>
    </a>

  </div>