{{> navbar-user }}

  <div class="account wf-section">
    <h3 class="heading">Parking Slot</h3><img src="images/default-user-image.png" loading="lazy" width="150" height="150" alt="" class="account-image parking-slot">
    <div class="text-block-19">Upload new image</div>
    <div class="profile">
      <div class="w-layout-grid profile-info">
        <div>Parking Slot ID</div>
        <div>ID</div>
        <div>Location</div>
        <div>Gee Tuck Building, Sheung Wan</div>
        <div>Floor</div>
        <div>2</div>
        <div>Unit</div>
        <div>B22</div>
      </div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get"><textarea placeholder="" maxlength="5000" id="Desciption" name="Desciption" data-name="field" class="textarea w-input"></textarea></form>
        <div class="w-form-done"></div>
        <div class="w-form-fail"></div>
      </div>
    </div>
  </div>
  <div class="section-4 wf-section">
    <h4 class="heading">Availability</h4>
    <div class="column-heading w-row">
      <div class="w-col w-col-3">
        <h5 class="box-item">Date</h5>
      </div>
      <div class="w-col w-col-3">
        <h5 class="box-item">Start</h5>
      </div>
      <div class="w-col w-col-3">
        <h5 class="box-item">End</h5>
      </div>
      <div class="w-col w-col-3">
        <h5 class="box-item"> </h5>
      </div>
    </div>
    <div class="column-content w-row">
      <div class="column w-col w-col-3">
        <div>25 Dec 2021</div>
      </div>
      <div class="w-col w-col-3">
        <div class="text-block-20">10:00 am</div>
      </div>
      <div class="w-col w-col-3">
        <div class="text-block-21">4:00 pm</div>
      </div>
      <div class="w-col w-col-3">
        <div class="text-block-22">Delete</div>
      </div>
    </div>
  </div>