<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secret Page</title>
</head>

<body>
    <h1>You have logged in and made it to the secret page!</h1>
    <p>Well done for implementing and authenticating using passport or open authentication!</p>
    <a href='/logout'><button type='button' name="button">Logout Now!</button></a>
</body>


</html>