    <div class="container w-container">
      <a href="/" class="w-nav-brand"><img src="images/Parkdo_icon.png" loading="lazy" width="150" sizes="150px" srcset="images/Parkdo_icon.png 500w, images/Parkdo_icon.png 800w, images/Parkdo_icon.png 1080w, images/Parkdo_icon.png 1500w" alt="" class="image"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#" class="w-nav-link">Contact us</a>
        <a href="login.html" class="w-nav-link">Log in</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="login wf-section">
    <h3 class="heading">Sign up</h3>
    <div class="form-block w-form">
      <form id="wf-form-Username" name="wf-form-Username" data-name="Username" method="get" class="form-2">
        <div class="div-block-5">
          <div class="name-input firstname">
            <label for="firstName" class="form-label">First Name*</label>
            <input type="text" class="text-field-3 w-input" maxlength="256" name="firstName" data-name="firstName" placeholder="Eric" id="firstName" required=""></div>
          <div class="name-input familyname">
            <label for="familyName" class="field-label-3">Family Name</label>
            <input type="familyName" class="w-input" maxlength="256" name="familyName" data-name="familyName" placeholder="Ko" id="familyName"></div>
        </div>
        <label for="username" class="form-label">USERNAME*</label>
        <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="" id="username" required="">
        <label for="field-2" class="form-label">EMAIL*</label>
        <input type="email" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="ericko@example.com" id="field-2" required="">
        <label for="field-2" class="form-label">Phone*</label>
        <input type="tel" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="98765432" id="field-2" required="">
        <label for="field-2" class="form-label">Password*</label>
        <input type="password" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="" id="field-2" required="">
        <label for="field-2" class="form-label">Password VERIFICATION*</label>
        <input type="password" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="" id="field-2" required="">
        <input type="submit" value="Sign Up" data-wait="Please wait..." class="login-button w-button">
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>