{{> navbar-guest }}

  <div class="carpark-reg wf-section">
    <h3 class="heading">Sign up</h3>
    <div class="form-block w-form">
      <form id="wf-form-Username" name="wf-form-Username" data-name="Username" method="post" class="form-2" action="/signup">
        <div class="div-block-5">
          <div class="name-input firstname">
            <label for="name" class="form-label">First Name*</label>
            <input type="text" class="text-field-3 w-input" maxlength="256" name="fname" data-name="fname" placeholder="Eric" id="fname" required="">
            </div>

          <div class="name-input familyname">
            <label for="email" class="field-label-3">Family Name</label>
            <input type="text" class="text-field-3 w-input" maxlength="256" name="lname" data-name="lname" placeholder="Ko" id="lname" required="">
            </div>
        </div>
        <label for="field" class="form-label">USERNAME*</label>
        <input type="text" class="w-input" maxlength="256" name="username" data-name="username" placeholder="" id="usernamed" required="">
        <label for="field-2" class="form-label">EMAIL*</label>
        <input type="email" class="w-input" maxlength="256" name="email" data-name="email" placeholder="ericko@example.com" id="email" required="">
        <label for="field-2" class="form-label">Phone*</label>
        <input type="phone" class="w-input" maxlength="256" name="phone" data-name="phone" placeholder="98765432" id="phone" required="">
        <label for="field-2" class="form-label">Password*</label>
        <input type="password" class="w-input" maxlength="256" name="password" data-name="password" placeholder="" id="password" required="">
        <input type="submit" value="Sign Up" data-wait="Please wait..." class="login-button w-button">
      </form>
    </div>
  </div>