.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  text-decoration: underline;
}

a.w--current {
  color: #ececec;
}

.navbar {
  background-color: #fff;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.nav-menu {
  margin-right: 0px;
}

.body {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 400;
}

.text-block {
  display: inline-block;
}

.form {
  width: 50vw;
  text-align: left;
}

.div-block {
  padding: 40px 25vw;
  background-color: #ffcc53;
}

.text-block-2 {
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 25px;
  text-transform: uppercase;
}

.field-label {
  font-weight: 300;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #036;
  text-align: center;
}

button.stripe-button-el,
button.stripe-button-el span {
  width: 100%;
  border-radius: 25px;
  background-color: #036 !important;
  background-image: none;
  text-align: center;
  font-family: 'Readex Pro', sans-serif !important;
}



.submit-button.filtering {
  width: auto;
  padding: 7px 30px;
  border: 2px solid #036;
  background-color: transparent;
  color: #036;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 10px;
  background-color: #ececec;
  box-shadow: 5px 5px 7px -4px #888;
}

.section {
  display: -ms-grid;
  display: grid;
  padding: 40px 15vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.text-block-3 {
  font-size: 20px;
  text-align: left;
}

.div-block-3 {
  margin-left: 20px;
  text-align: left;
}

.text-block-4 {
  text-align: left;
}

.text-block-5 {
  text-align: left;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-field {
  margin-right: 10px;
}

.text-field-2 {
  margin-left: 10px;
}

.text-block-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.select-field {
  margin-top: 20px;
}

.body-2 {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 300;
}

.heading {
  margin-bottom: 30px;
  color: #9a8e97;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.heading.filtering {
  margin-bottom: 0px;
}

.heading.small {
  margin-bottom: 10px;
  color: #036;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.carpark-reg {
  padding: 60px 35vw;
}

.form-label {
  display: block;
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.field-label-3 {
  font-family: Oxygen, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.form-2 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.form-block {
  display: block;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.login-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #036;
}

.login-with-social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.button-text {
  margin-left: 20px;
}

.text-block-7 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-field-3 {
  width: 100%;
}

.name-input {
  width: 50%;
}

.name-input.firstname {
  padding-right: 5px;
}

.name-input.familyname {
  padding-left: 5px;
}

.div-block-7 {
  width: 50%;
}

.about-us {
  padding: 60px 20vw 40px;
}

.heading-2 {
  margin-bottom: 60px;
  text-align: center;
}

.div-block-8 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". Area";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.heading-3 {
  text-align: center;
}

.text-block-8 {
  margin-bottom: 40px;
  text-align: center;
}

.text-block-9 {
  font-size: 10px;
}

.hint-text {
  margin-bottom: 10px;
  font-size: 11px;
  font-style: normal;
  text-align: center;
}

.navbar-2 {
  background-color: transparent;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.floor-input {
  width: 50%;
  margin-right: 10px;
}

.unit-input {
  width: 50%;
}

.columns {
  margin-top: 40px;
  padding-right: 10vw;
  padding-left: 10vw;
}

.body-3 {
  font-family: 'Readex Pro', sans-serif;
}

.checkbox-field {
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 10px;
}

.checkbox-field.district {
  margin-left: 0px;
}

.checkbox-label {
  font-size: 12px;
}

.checkbox-label.district {
  font-weight: 600;
}

.listing {
  padding-right: 20px;
  padding-left: 20px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.div-block-11 {
  width: 100%;
  padding: 10px 20px;
}

.heading-4 {
  margin-bottom: 0px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.pricing {
  font-size: 20px;
  text-align: center;
}

.pricing.currency {
  font-size: 11px;
}

.text-block-10 {
  font-size: 11px;
}

.text-block-11 {
  font-size: 11px;
}

.description {
  margin-top: 10px;
  font-size: 12px;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 140px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-4 {
  width: 100%;
}

.text-field-5 {
  width: 100%;
}

.vehicle-size {
  color: #555;
}

.carpak-availability-text {
  font-size: 11px;
  text-align: center;
}

.carpak-availability-text.time {
  font-size: 16px;
}

.div-block-14 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #ececec;
}

.account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.account-image {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 3px 3px #ececec;
}

.account-image.parking-slot {
  border-radius: 10px;
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.profile {
  width: 30%;
  min-width: 400px;
  margin-top: 20px;
}

.profile-info {
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.subm {
  margin-top: 20px;
  color: #036;
  text-align: center;
}

.my-parking-slot {
  margin-top: 60px;
  padding-right: 15vw;
  padding-left: 15vw;
}

.text-block-12 {
  text-align: center;
}

.text-block-13 {
  margin-top: 10px;
}

.image-3 {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-4 {
  -o-object-fit: cover;
  object-fit: cover;
}

.nav-link {
  color: #333;
}

.nav-link.w--current {
  color: #333;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.table-heading {
  text-align: center;
}

.section-2 {
  padding-right: 10vw;
  padding-left: 10vw;
}

.booking-type-label {
  margin: 5px;
  padding: 8px 40px;
  border-radius: 5px;
  background-color: #ececec;
  color: #036;
  font-size: 16px;
  text-align: center;
}

.booking-type-label.lease {
  width: 120px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #96c6be;
  color: #333;
}

.booking-type-label.rent {
  width: 120px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f19a8c;
  color: #333;
}

.box-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.box {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.box-item-text {
  color: #333;
  text-align: center;
}

.b {
  text-align: center;
}

.date-box {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ececec;
  text-align: center;
}

.box-item {
  text-align: center;
  text-decoration: none;
}

.box-item.in {
  text-decoration: underline;
}

.box-item.out {
  text-decoration: underline;
}

.history-box {
  height: 120px;
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.text-block-18 {
  font-size: 10px;
  text-align: center;
}

.box-status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #666;
}

.box-status.complete {
  color: #4fbca3;
}

.box-status.cancel {
  color: #e25a44;
}

.booking-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-19 {
  margin-top: 10px;
}

.section-3 {
  padding-right: 25vw;
  padding-left: 25vw;
}

.section-4 {
  margin-top: 60px;
  padding-right: 25vw;
  padding-left: 25vw;


}

.column-content {
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ececec;
}

.column {
  text-align: center;
}

.text-block-20 {
  text-align: center;
}

.text-block-21 {
  text-align: center;
}

.text-block-22 {
  border-radius: 5px;
  background-color: #e25a44;
  color: #fff;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.textarea {
  margin-top: 10px;
}

#w-node-_80cd77a3-814e-c532-02e5-8097c3bc33b8-5854d6b5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_3765c99e-745b-1dc5-1704-d3cfcfbfd091-5854d6b5 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0d8ce5b9-4e8c-e8ac-7835-80c35d8ce4bb-5854d6b5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_0d8ce5b9-4e8c-e8ac-7835-80c35d8ce4bd-5854d6b5 {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#open-form{
  background-color: white;
  color: #666;
}


/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

#add-availability-form{
  padding-top: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.history-icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#lease{
display: none
}

#rent{
  display: none
  }

#profilepic-img{
  object-fit: cover;
}

#availability-warning{
  color: #e25a44;
  display: none;
}

.caution{
  text-align: center;
  margin-bottom: 50px;
}

footer{
  text-align: center;
  color: white;
  background-color: #999;
  padding: 50px;
  margin-top: 100px;
}